<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>{{ navn }}</h1>
    <p>Forfatter: {{ forfatter }}</p>
    <p>Sjanger: {{ sjanger }}</p>
    <img style="height: 250px;" src="/static/cover.jpg" alt="">
    {% if "leid" in session %}
        <br><p>Elev:</p>
        <p>{{ elevNavn }}</p>
        <p>{{ elevProg }}</p> 
        <form action="" method="POST">
            <input value="Returner" type="submit" name="submit">
        </form>
    {% else %}
        {% if reservertNavn %}
            <p><b>Reservert</b></p>
        {% else %}
            <p>Hylle: {{ hylle }}</p>
        {% endif %}

        <form action="" method="POST">
            {% if reservertNavn %}
                <input placeholder="Elev Navn" value="{{ reservertNavn }}" type="text" name="elevNavn" id="navn" readonly><br>
                <input value="true" type="hidden" name="reservert">
            {% else %}
                <input placeholder="Elev Navn" type="text" name="elevNavn" id="navn" list="dataL" required><br>
                <input value="false" type="hidden" name="reservert">
            {% endif %}
            <input placeholder="Dager" type="text" name="dager" required><br>
            <input value="Lei Ut" type="submit" name="submit">
        </form>

        {% if not reservertNavn %}
            <datalist id="dataL"></datalist>

            <script src="/static/search.js"></script>
        {% endif %}
    {% endif %}
</body>
</html>