<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Legg til bøker</h1>
    <form action="" method="POST">
        <input value="{{ tittel }}" placeholder="Bok Tittel / ISBN" type="text" name="tittel"><br>
        {% if "tittel" in session %}
            <input value="{{ forfatter }}" placeholder="Forfatter" type="text" name="forfatter"><br>
            <input value="{{ sjanger }}" placeholder="Sjanger" type="text" name="sjanger"><br>
            <input value="Legg til" type="submit"><br>
            <input onclick="clear()" value="Gå tilbake for å søke" type="submit">
        {% else %}
            <input onclick="changeSub()" type="checkbox" name="skipSearch" id="skipSearch">
            <label for="skipSearch">Skriv info manuelt</label><br>
            <input value="Søk" type="submit" id="submit">
        {% endif %}
    </form>

    {% if qrcode %}
        <p>Lagde QR kode for {{ gammelTittel }}</p>
    {% endif %}

    <script>
        const skip = document.getElementById("skipSearch")
        const submit = document.getElementById("submit")

        function changeSub() {
            if (skip.checked) {
                submit.value = "Neste"
            } else {
                submit.value = "Søk"
            }
        }

        function clear() {
            window.location = "/clear"
        }
    </script>
</body>
</html>