<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<header>
    <a href="/" class="logo">My Library</a>
    <nav>
        <a href="/">Home</a>
        <a href="/reservert">Reserverte bøker</a>
    </nav>
</header>
<body>
    <h1>Reserverte bøker</h1>
    <ul id="notifs">
        {% for i in reservert %}
            <li wsData='{{ i | tojson }}'>
                <b>{{ i["tittel"] }}</b> av {{ i["forfatter"] }}, {{ i["hylle"] }}
                <button onclick="accept(this)">✓</button>  <button onclick="decline(this)">✘</button>
            </li>
        {% endfor %}
    </ul>

    <script src="/static/updRes.js"></script>
</body>
</html>