<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/bookInfo.css">
    <title>:3</title>
</head>
<header>
    <a href="/" class="logo">My Library</a>
    <nav>
        <a href="/">Home</a>
        {% if "elevID" in session %}
            <a href="/profile">Profil</a>
            <a href="/logout">Log ut</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>
</header>
<main>
<body>
    {% if boker %}
        <form style="display: flex; justify-content: center;" onsubmit="redirect(event)">
            <input placeholder="Search..." style="width: 500px;" type="text" id="searchQuery">
        </form>
        <div class="outerGrid">
            <div class="grid-container">
                {% for i in boker %}
                    <button onclick="display('{{ i[1] }}', '{{ i[2] }}', '{{ i[4] }}', 'cover.jpg')" class="grid-item">
                        <p class="headline"><b>{{ i[1] }}</b></p>
                        <img src="/static/cover.jpg" alt="Cover">
                        <p class="subtext">av {{ i[2] }}</p>
                    </button>
                {% endfor %}
            </div>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row; align-items: baseline; margin-top: 20px;">
            {% if page != 1 %}
                <button style="margin-right: 10px;" onclick="redirect(event, '{{ page }}', -1)"><-</button>
            {% endif %}
            <p>{{ page }}</p>
            {% if nextPage %}
                <button style="margin-left: 10px;" onclick="redirect(event, '{{ page }}', 1)">-></button>
            {% endif %}
        </div>

    {% else %}
        <p>Nothing here..</p>
        <script>
            window.location = "/?page=1"
        </script>
    {% endif %}

    <script src="/static/book.js"></script>
    <script>
        function redirect(e, page=null, newPage=null) {
            e.preventDefault()
            const currentLoc = new URL(window.location.href)

            if (!page) {
                const searchInput = document.getElementById("searchQuery")

                if (searchInput.value == "") {
                    currentLoc.searchParams.set("page", 1)
                    currentLoc.searchParams.delete("search")
                } else {
                    currentLoc.searchParams.set("page", 1)
                    currentLoc.searchParams.set("search", searchInput.value)
                }
            } else if (newPage > 0) {
                currentLoc.searchParams.set("page", parseInt(page) + 1)
            } else {
                currentLoc.searchParams.set("page", parseInt(page) - 1)
            }

            window.location = currentLoc
        }
    </script>
</main>
</body>
</html>