<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/bookInfo.css">
    <title>:3</title>
</head>
<header>
    <a href="/" class="logo">My Library</a>
    <nav>
        <a href="/">Home</a>
        {% if "accessToken" in session %}
            <a href="/profile">Profil</a>
            <a href="/logout">Log ut</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>
</header>
<main>
<body>
    <form style="display: flex; justify-content: center;" onsubmit="redirect(event)">
        <input placeholder="Search..." style="width: 500px;" type="text" id="searchQuery">
    </form>
    {% if search %}
        <p><b>Results for {{ search }}:</b></p>
    {% endif %}

    {% if boker %}
        <div class="outerGrid">
            <div class="grid-container">
                {% for i in boker %}
                    {% if i[5] %}
                        <style>
                            #gridItem{{ i[0] }} {
                                background-color: lightgray;
                            }
                        </style>
                    {% endif %}
                    <button onclick="display('{{ i[1] }}', '{{ i[2] }}', '{{ i[4] }}', '{{ i[5] }}', 'cover{{ loop.index0 }}.jpg', '{{ i[0] }}', {{ session['elevID'] }})" class="grid-item" id="gridItem{{ i[0] }}">
                        <p class="headline"><b>{{ i[1] }}</b></p>
                        <img src="/static/covers/cover{{ loop.index0 }}.jpg" alt="Cover">
                        <p class="subtext">av {{ i[2] }}</p>
                    </button>
                {% endfor %}
            </div>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row; align-items: baseline; margin-top: 20px;">
            {% if page != 1 %}
                <button style="margin-right: 10px;" onclick="redirect(event, '{{ page }}', -1)"><-</button>
            {% endif %}
            <p>{{ page }}</p>
            {% if nextPage %}
                <button style="margin-left: 10px;" onclick="redirect(event, '{{ page }}', 1)">-></button>
            {% endif %}
        </div>
    {% elif search %}
        <br><p>Found nothing related to your search..</p>
    {% else %}
        <p>Nothing here..</p>
        <script>
            window.location = "/?page=1"
        </script>
    {% endif %}
    
    <script src="/static/book.js"></script>
</main>
</body>
</html>