<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<header>
    <a href="/" class="logo">My Library</a>
    <nav>
        <a href="/">Home</a>
        {% if "accessToken" in session %}
            <a href="/profile">Profil</a>
            <a href="/logout">Log ut</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </nav>
</header>
<main>
<body>
    <form id="formStyling" action="/login" method="POST">
        <h1>LOGIN</h1>
        {% if "registrert" not in session %}
            <input placeholder="Navn" type="text" name="navn" id="navn" list="dataL" required><br>
        {% else %}
            <input value="{{ elevNavn }}" placeholder="Navn" type="text" name="navn" id="navn" list="dataL" required readonly><br>
            <input placeholder="Password" type="password" name="passwd" required><br>
        {% endif %}

        <input value="Login" type="submit">
    </form>

    <datalist id="dataL"></datalist>

    <script src="/static/search.js"></script>
</main>
</body>
</html>