<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>LOGIN</h1>
    <form action="/login" method="POST">
        <input placeholder="Navn" type="text" name="navn" id="navn" list="dataL" required><br>

        {% if "registrert" in session %}
            <input placeholder="Password" type="password" name="passwd" required><br>
        {% endif %}

        <input value="Login" type="submit">
    </form>

    <datalist id="dataL"></datalist>

    <script src="/static/index.js"></script>
</body>
</html>