<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>REGISTER</h1>
    <form action="/register" method="POST">
        <input value="{{ elevNavn }}" placeholder="Username" type="text" name="elevNavn" required readonly><br>
        <input placeholder="Password" type="password" name="passwd" required><br>
        <input placeholder="Confirm Password" type="password" name="passwdCheck" required><br>

        <input value="Register" type="submit">
    </form>
</body>
</html>